
@-webkit-keyframes fill {
  to {
    background-size:100% 0;
  }
}

@keyframes fill {
  to {
    background-size:100% 0;
  }
}


.cnh_holding button{
  background: -webkit-linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  background: linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size:  100% 100%;
  -webkit-animation: fill 2s forwards;
  animation: fill 2s forwards;
}