* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    list-style: none;
    height: 30px;
    font-size: 24px;

}

.container {
    width: 100%;
}

ul {
    padding: 100px !important;
    overflow: auto;
    width: 100%;
}

.middle{
    line-height: 100%;
    text-align: center;


}


button {
    white-space: nowrap;
    color: pink;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
    line-height: 100px;
    padding: 0px 30px !important;
    vertical-align: middle;
    margin:auto !important;
    border-color: pink !important;
    outline: none;
    box-shadow: none !important;
    position:absolute;
    left:50%;
    top:50%;
    cursor:pointer;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

}

button:focus:active:hover{
    cursor: pointer;
    border-radius: 3px;
    border-width: 3px;
    border-color: pink !important;
    outline: none;
    box-shadow: none !important;
}