html {
  overflow-left: hidden;
  min-height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

input {
    height: auto;
}

li {
    list-style: none;
    height: auto;
    font-size: 24px;

}

.container {
    width: 100%;
    height: calc(100% - 26px);
}

ul {
    padding: 100px !important;
    overflow: auto;
    width: 100%;
}

.middle{
    line-height: 100%;
    text-align: center;
}

.middleAligned {
    max-width: 100%;
    position:absolute;
    left:50%;
    top:50%;
    margin:auto !important;
    height: auto;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}


button {
    white-space: nowrap;
    color: pink;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    margin:auto !important;
    font-size: 2em;
    line-height: 100px;
    padding: 0px 30px !important;
    vertical-align: middle;
    border-color: pink !important;
    outline: none;
    box-shadow: none !important;cursor:pointer;
    

}

button:focus:active:hover{
    cursor: pointer;
    border-radius: 3px;
    border-width: 3px;
    border-color: pink !important;
    outline: none;
    box-shadow: none !important;
}

form {
    color: #444;
}


/*Radio*/

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

#timeinput {
    width: 40px;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(141, 181, 128, 1);;
    color: rgba(141, 181, 128, 1);;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-right: 4px !important;
}

#timelabel {
    text-align: center;
    padding-right: 4px !important;
    color: rgba(141, 181, 128, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: bolder;
}

#timeunits {
    text-align: center;
    padding-left: 4px !important;
    color: rgba(141, 181, 128, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: bolder;
}

#timeinput:hover:,#timeinput:active, #timeinput:focus{
    outline: none;
    border: none;
}
.left {
  float:left;
}
.dot {
  vertical-align: middle;
  position:relative;
  float:right;
  cursor: pointer;
  width: 20px;
  margin: 3px !important;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background-color: pink;
  opacity: 0.4;
  color:transparent;
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}
.dot:hover {
  border: 4px solid white;
}

.dotselected {
  opacity: 1;
}

#code {
   
  
}

#css_code {
   padding-top: 40px !important; 
}

.pre {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 40px !important; 
  padding-top: 60px !important;
  line-height: 25px;
  font-size: 20px;
  color:rgba(141, 181, 128, 1);
  text-align: left;
  width: 60%;
  height: auto !important;
  margin: auto !important;
}
}
.alignLeft {
   text-align: left;
}
.b {color: pink;}
.g {color: rgba(126, 137, 135, 1);}
.jsx {color: #db7093;}
.com {color: #777;}
h3 {
  
  line-height: 50px;
  height:50px;
  color: #999;
  text-transform: uppercase;
  font-size: 2em;
}
#anim {
  margin-top: -25px !important;

 }

 .myCol {
  text-align: center;
  min-height: 100%;
  height:auto;
 }

@media screen and (max-width: 700px) {
    .pre {
      width:90%;
    }
}

.down {
  cursor: pointer;
  font-size: 1.3em;
  height: 1em;
  display:block;
  line-height: 1.2em;
  color:rgba(126, 137, 135, 0.6);
  text-decoration: none !important;
}
.down a {
  color:rgba(126, 137, 135, 0.6);
  text-decoration: none !important;
}

.up {
  font-size: 1.2em;

  display:block;
  line-height: 1.2em;
  color:rgba(126, 137, 135, 0.6);
  text-decoration: none !important;
}

h1 {
  font-size: 2.6em;
  color: pink;
     line-height: 50px;
    height: auto;
}